
{% block content %}
<!DOCTYPE html>
<html>
<head>

</div>
<Style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        }
    th, td {
        padding: 15px;
         }
    body{
        background-color: aliceblue;
    }

</Style>
</Head>
<body>
<center>
<img src="https://img.grouponcdn.com/deal/3x6NGhMeMyv2TT5UCryYCwL8RThJ/3x-2048x1229/v1/c620x376.jpg" class="img-rounded"/>
<h1><B>Niagara Falls</B></h1>
<p>Niagara Falls is famed both for its beauty and as a valuable source of hydroelectric power.</p>
<a type="button" class="btn btn-lg btn-primary" href="https://en.wikipedia.org/wiki/Niagara_Falls"><span class="badge badge-secondary"></span> About Niagara Falls</a>
</center>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Did You Know?</h3>
      <ul>
          <li>one-fifth of the worlds fresh water passes over Niagara Falls.</li>
          <li>Niagara Falls supplies 10% of all the electric power for New York State.</li>
          <li>Niagara Falls is now a highly-managed natural wonder. One-half to three-quarters of the water doesn't go over the falls anymore. Instead, it gets diverted into tunnels for the production of electricity. In fact, at nightafter the lights are turned off, the falls are dialed way back and a huge percentage of the water is diverted for electricity generation.</li>
      </ul>
    </div>
      <div>
          <h3><span class="glyphicon glyphicon-info-sign"></span> Best Time to Visit</h3>
          <p> The best time to visit Niagara Falls State Park is during the summer months when the average monthly high temperature ranges between 70F and 80F. Because summer is peak season, you'll face more crowds and spend more money on hotel accommodations, but all of the attractions are open including Maid of the Mist and Cave of the Winds. During winter, spring and fall, crowds tend to be less, hotel room rates drop and the unique change of seasons is well worth a visit. In fall, peak foliage is generally the third week in October, while winter brings snow and ice that transforms the Falls into a stunning winter wonderland.</p>
      </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Transport</h3>
      <ul>
          <li>Ships can bypass Niagara Falls by means of the <a href="https://en.wikipedia.org/wiki/Welland_Canal">Welland Canal</a> which was improved and incorporated into the Saint Lawrence Seaway in the mid-1950s.</li>
        <li>The cities of Niagara Falls, Ontario, Canada, and Niagara Falls, New York, United States, are connected by two international bridges.</li>

          <li>The Rainbow Bridge, just downriver from the falls, affords the closest view of the falls and is open to non-commercial vehicle traffic and pedestrians.</li>
          <li>The Whirlpool Rapids Bridge lies one mile (1.6 km) north of the Rainbow Bridge and is the oldest bridge over the Niagara River.</li>
          <li>The Buffalo Niagara International Airport is the closest airport - approximately 19 miles from Niagara Falls USA.</li>
        </ul>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://www.niagarafallsusa.com/">Niagara Falls USA</a></li>
      </ul>
    </div>
      
      <h3>Niagara Falls Attractions & Tours</h3>

      <table style="width:100%">
          <tr>
              <th>Attractions</th>
              <th>Entry Fees for Adults</th>
              <th>Entry Fees for Youth</th>
              <th>Hours of Operation</th>
          </tr>
          <tr>
              <td>Adventure Theater</td>
              <td>$8 per person</td>
              <td>$6 per person</td>
              <td>10:30 a.m.- 4:30 p.m. (Daily)</td>
          </tr>
          <tr>
              <td>Aquarium</td>
              <td>$14.95</td>
              <td>$10.9</td>
              <td>9 a.m. - 5 p.m. (Daily)</td>
          </tr>
          <tr>
              <td>Cave of the winds</td>
              <td>$7</td>
              <td>$5</td>
              <td>9 a.m. - 3 p.m. (Daily)</td>
          </tr>
          <tr>
              <td>Observation Tower</td>
              <td>$1.25</td>
              <td>$1.25</td>
              <td>10 a.m. - 4:30 p.m. (Daily)</td>
          </tr>
      </table>


  </div> <!-- row -->
</div>
</body>
</html>
{% endblock %}
